<link href="https://cdn.jsdelivr.net/npm/tailwindcss2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<h1 align="center" style="color: blue;">SITO DI VIAGGI</h1>
<h2 align="center" style="color: blue; margin-left:auto; margin-right:auto; font-family: Arial, Helvetica, sans-serif;"></h2>
<br>

<ng-template *ngIf = "name === 'inizio'; then bloccoInizio"></ng-template>

<ng-template #bloccoInizio>
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let element of posti index as i" class="col-md-4">
            <div class="card mb-4">
                <h1 align="center" style="color: blue; margin-left:auto; margin-right:auto; font;">{{element.starter}}</h1>
                <br>
                <br>
                <img class="card-img-top" src="{{element.immagine}}" alt="Card image">
                <div class="card-body">
                    <br>
                    <br>
                    <br>
                    <br> 
                    <br>
                    <button (click) = "setBtn(element.nome)" type="button" class="btn azzurro" style="margin-left: 167px; margin-right: 70px; font-family: POKEMON; font-size: larger;" [ngClass]="{'azzurro':pokemon[i].nome=='#120 STARYU', 'grigio':pokemon[i].nome=='#304 ARON', 'oro':pokemon[i].nome=='#539 SAWK' }">{{element.nome}}</button>
                </div>
            </div>
        </div>
        </div>
    </div>

</ng-template>
<ng-template *ngIf = "name === '#120 STARYU'; then bloccoUno"></ng-template>

<ng-template #bloccoUno>

    <div class="container" style="width: 400px;">
        <div class="card mb-5">
            <h1 align="center" style="color: blue; margin-left:auto; margin-right:auto; font-family: POKEMON;">{{pokemon[0].starter}}</h1>
            <br>
            <br>
            <img class="card-img-top" src="{{pokemon[0].immagine}}" alt="Card image">
            <div class="card-body" style="font-family: POKEMON; color: blue;" >
                <br>
                <br>
                <p>- NOME: {{pokemon[0].nome}}</p>
                <p>- DESCRIZIONE: {{pokemon[0].descrizione}}</p>
                <p>- TIPO: {{pokemon[0].tipo}} </p>
                <p>- PESO: {{pokemon[0].peso}} </p>
                <p>- ALTEZZA: {{pokemon[0].altezza}} </p>
                <p>- ABILITA': {{pokemon[0].abilita}}</p>
                <p>- DOVE TROVARLO ?: {{pokemon[0].posizione}} </p>
                <p>- TASSO DI CATTURA: {{pokemon[0].tassocattura}} </p>
                <p>- DEBOLEZZE: {{pokemon[0].debolezze}}</p>
                <p>- RESISTENZE: {{pokemon[0].resistenze}}</p>
                <p>- ATTACCO: {{pokemon[0].attacco}}</p>
                <p>- DIFESA: {{pokemon[0].difesa}}</p>
                <p>- VELOCITA': {{pokemon[0].velocita}}</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a  href="reload()"class="btn home" style="color: white; width: 200px; margin-left: 19%;">HOME</a> 
            </div>
    </div>
</div>
<br>

</ng-template>
<ng-template *ngIf = "name === '#304 ARON'; then bloccoDue"></ng-template>

<ng-template #bloccoDue>

    <div class="container" style="width: 400px;">
        <div class="card mb-5">
            <h1 align="center" style="color: blue; margin-left:auto; margin-right:auto; font-family: POKEMON;">{{pokemon[1].starter}}</h1>
            <br>
            <br>
            <img class="card-img-top" src="{{pokemon[1].immagine}}" alt="Card image">
            <div class="card-body" style="font-family: POKEMON; color: blue;" >
                <br>
                <br>
                <p>- NOME: {{pokemon[1].nome}}</p>
                <p>- DESCRIZIONE: {{pokemon[1].descrizione}}</p>
                <p>- TIPO: {{pokemon[1].tipo}} </p>
                <p>- PESO: {{pokemon[1].peso}} </p>
                <p>- ALTEZZA: {{pokemon[1].altezza}} </p>
                <p>- ABILITA': {{pokemon[1].abilita}}</p>
                <p>- DOVE TROVARLO ?: {{pokemon[1].posizione}} </p>
                <p>- TASSO DI CATTURA: {{pokemon[1].tassocattura}} </p>
                <p>- DEBOLEZZE: {{pokemon[1].debolezze}}</p>
                <p>- RESISTENZE: {{pokemon[1].resistenze}}</p>
                <p>- ATTACCO: {{pokemon[1].attacco}}</p>
                <p>- DIFESA: {{pokemon[1].difesa}}</p>
                <p>- VELOCITA': {{pokemon[1].velocita}}</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a  href="reload()"class="btn home" style="color: white; width: 200px; margin-left: 19%;">HOME</a> 
            </div>
    </div>
    </div>
    <br>

</ng-template>
<ng-template *ngIf = "name === '#539 SAWK'; then bloccoTre"></ng-template>

<ng-template #bloccoTre>
    <div class="container" style="width: 400px;">
        <div class="card mb-5">
            <h1 align="center" style="color: blue; margin-left:auto; margin-right:auto; font-family: POKEMON;">{{pokemon[2].starter}}</h1>
            <br>
            <br>
            <img class="card-img-top" src="{{pokemon[2].immagine}}" alt="Card image">
            <div class="card-body" style="font-family: POKEMON; color: blue;" >
                <br>
                <br>
                <p>- NOME: {{pokemon[2].nome}}</p>
                <p>- DESCRIZIONE: {{pokemon[2].descrizione}}</p>
                <p>- TIPO: {{pokemon[2].tipo}} </p>
                <p>- PESO: {{pokemon[2].peso}} </p>
                <p>- ALTEZZA: {{pokemon[2].altezza}} </p>
                <p>- ABILITA': {{pokemon[2].abilita}}</p>
                <p>- DOVE TROVARLO ?: {{pokemon[2].posizione}} </p>
                <p>- TASSO DI CATTURA: {{pokemon[2].tassocattura}} </p>
                <p>- DEBOLEZZE: {{pokemon[2].debolezze}}</p>
                <p>- RESISTENZE: {{pokemon[2].resistenze}}</p>
                <p>- ATTACCO: {{pokemon[2].attacco}}</p>
                <p>- DIFESA: {{pokemon[2].difesa}}</p>
                <p>- VELOCITA': {{pokemon[2].velocita}}</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a  href="reload()"class="btn home" style="color: white; width: 200px; margin-left: 19%;">HOME</a> 
            </div>
    </div>
    </div>
    <br>

</ng-template>
<ng-template *ngIf = "name === '#120 STARYU'; then bloccoUno"></ng-template>

<ng-template #bloccoUno>

    <div class="container" style="width: 400px;">
        <div class="card mb-5">
            <h1 align="center" style="color: blue; margin-left:auto; margin-right:auto; font-family: POKEMON;">{{pokemon[0].starter}}</h1>
            <br>
            <br>
            <img class="card-img-top" src="{{pokemon[0].immagine}}" alt="Card image">
            <div class="card-body" style="font-family: POKEMON; color: blue;" >
                <br>
                <br>
                <p>- NOME: {{pokemon[0].nome}}</p>
                <p>- DESCRIZIONE: {{pokemon[0].descrizione}}</p>
                <p>- TIPO: {{pokemon[0].tipo}} </p>
                <p>- PESO: {{pokemon[0].peso}} </p>
                <p>- ALTEZZA: {{pokemon[0].altezza}} </p>
                <p>- ABILITA': {{pokemon[0].abilita}}</p>
                <p>- DOVE TROVARLO ?: {{pokemon[0].posizione}} </p>
                <p>- TASSO DI CATTURA: {{pokemon[0].tassocattura}} </p>
                <p>- DEBOLEZZE: {{pokemon[0].debolezze}}</p>
                <p>- RESISTENZE: {{pokemon[0].resistenze}}</p>
                <p>- ATTACCO: {{pokemon[0].attacco}}</p>
                <p>- DIFESA: {{pokemon[0].difesa}}</p>
                <p>- VELOCITA': {{pokemon[0].velocita}}</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a  href="reload()"class="btn home" style="color: white; width: 200px; margin-left: 19%;">HOME</a> 
            </div>
    </div>
</div>
<br>

</ng-template>
<ng-template *ngIf = "name === '#120 STARYU'; then bloccoUno"></ng-template>

<ng-template #bloccoUno>

    <div class="container" style="width: 400px;">
        <div class="card mb-5">
            <h1 align="center" style="color: blue; margin-left:auto; margin-right:auto; font-family: POKEMON;">{{pokemon[0].starter}}</h1>
            <br>
            <br>
            <img class="card-img-top" src="{{pokemon[0].immagine}}" alt="Card image">
            <div class="card-body" style="font-family: POKEMON; color: blue;" >
                <br>
                <br>
                <p>- NOME: {{pokemon[0].nome}}</p>
                <p>- DESCRIZIONE: {{pokemon[0].descrizione}}</p>
                <p>- TIPO: {{pokemon[0].tipo}} </p>
                <p>- PESO: {{pokemon[0].peso}} </p>
                <p>- ALTEZZA: {{pokemon[0].altezza}} </p>
                <p>- ABILITA': {{pokemon[0].abilita}}</p>
                <p>- DOVE TROVARLO ?: {{pokemon[0].posizione}} </p>
                <p>- TASSO DI CATTURA: {{pokemon[0].tassocattura}} </p>
                <p>- DEBOLEZZE: {{pokemon[0].debolezze}}</p>
                <p>- RESISTENZE: {{pokemon[0].resistenze}}</p>
                <p>- ATTACCO: {{pokemon[0].attacco}}</p>
                <p>- DIFESA: {{pokemon[0].difesa}}</p>
                <p>- VELOCITA': {{pokemon[0].velocita}}</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a  href="reload()"class="btn home" style="color: white; width: 200px; margin-left: 19%;">HOME</a> 
            </div>
    </div>
</div>
<br>

</ng-template>